.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./img/1.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Needed for absolute positioning of child elements */
}

h1 {
  font-size: 2.5rem;
  color: white; /* Adjust color for better visibility */
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.open-button {
  position: absolute; /* Allow placement in bottom-right */
  bottom: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 123, 255, 0.8); /* Transparent button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.open-button:hover {
  background-color: rgba(0, 137, 16, 0.8);
}
